.App {
  text-align:center;
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: height 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-Links {
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}